**/db/
multi-agent-crewai-env/
**/__pycache__/
.env
**/assests/**
!**/assets/
!**/assets/export
!**/assets/tmp

**/assets/*
**/assets/export/*
**/assets/tmp/*
tmp.py
.idea/

docker-compose.secrets.yml